body{
  color: black;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

.bg-black{
  background-color: black;
}

.myclass {
  color: crimson;
  font-size: 30px;
}

.navbar {
  background-color: black;
}

li a {
  color: white !important;
}

.nav-item .active {
  font-weight: bold;
  border-bottom: 2px solid red;
  color: red !important;
}

.bg-filter{
background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar-brand {
  font-weight: bolder;
  color: red;
}

.brand {
  font-weight: bolder;
  color: red;
  font-size: 400%;
  text-shadow: 2px 2px 5px black;
}

.main {
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 7%,
    rgba(0, 0, 0, 0.3029586834733894) 100%
  );
}

.tagline {
  padding-bottom: 10%;
}

.dark {
  background: rgb(0, 0, 0) !important;
  background: linear-gradient(
    153deg,
    rgba(0, 0, 0, 0.5) 7%,
    rgba(0, 0, 0, 0.2) 100%
  ) !important;
  color: white;
  border: 2px solid rgb(37, 37, 37);
}

.img-resize {
  height: 300px;
}

.vh-94 {
  height: 94vh;
}

.header {
  background-image: url(../public/Assets/brown-furniture-ideas-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-detail p {
  font-size: larger;
  font-weight: 400;
}

.furniture-card-browse {
  transform: scale(1);
}

.furniture-card-browse:hover {
  transform: scale(1.02);
  transition: 0.1s;
}

.img-250 {
  height: 250px;
  width: 250px;
}

.pulldown{
  margin-top: 0;
  transition: 0.2s;
}

.pulldown:hover{
  margin-top: 5px;
  transition: 0.2s;
}

.text-red{
  color: red;
}

.navbar{
  background-color: rgb(0, 0, 0);
}