.myclass{
  color: crimson;
  font-size: 30px;
}

.nav-item .active{
  font-weight: bold;
  border-bottom: 2px solid red;
  color: red !important;
}

.navbar-brand{
  font-weight: bolder;
  color: red;
}

.brand{
  font-weight: bolder;
  color: red;
}

.img-resize{
  height: 300px;
  
}

.nav-height{
  height: 6vh;
}

.head-height{
  height: 94vh;
}

.tagline{
  height: 20vh;
}